@import "variables";
@import "global";

main{
    background: url(../images/bg-tablet-pattern.svg) no-repeat 856px -107px, url(../images/bg-tablet-pattern.svg) no-repeat -506px 1141px;
    margin-bottom: 150px;
    nav{
        display: flex;
        padding: 00px $padding-L-R;
        padding-block: 60px;
        justify-content: space-between;
        align-items: center;
        .nav-links{
            .nav-item{
                color: $Dark-Blue;
                margin: 0 15px;
                font-size: .9em;
                cursor: pointer;
                font-weight: 500;
                text-shadow: 1px 1px 10px rgba(36, 45, 82, 0.15);
                transition: 150ms all ease-in-out;
                &:hover{
                    color: $Dark-Grayish-Blue;
                    text-shadow: none;
                }
            }
        }
    }
    .intro{
        padding: 00px $padding-L-R;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 50px;
        align-items: center;
        .copy{
            h1{font-size: 3.4em;}
            p{
                padding-right: 270px;
                line-height: 24px;
                margin-bottom: 45px;
            }
        }
    }
    .features{
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 00px $padding-L-R;
        grid-gap: 150px;
        align-items: start;
        margin-top:75px;

        .right-para{
            h1{font-size: 2.5em; margin-top: 0;}
            p{max-width:60%; line-height: 28px;}
        }
        .features-list{
            .item{
                display: flex;
                align-items: start;
                padding-right: 50px;
                margin-bottom: 25px;
                span{
                    background: $Bright-Red;
                    color: white;
                    font-weight: 500;
                    border-radius: 50px;
                    padding: 10px 25px;
                    margin-right: 20px;
                }
                h3{margin: 0;}
                p{line-height: 28px;}
            }
        }
    }
    .reviews{
        h1{text-align: center; font-size: 2.5em;}
        margin-top: 110px;
        position: relative;
        .cards{
            display: flex;
            padding: 50px 0;
            position: relative;
            overflow-x:  auto ;
            cursor: grab;
            &::-webkit-scrollbar{
                display: none;
            }
            &:active{
                cursor: grabbing;
            }
            .r-card{
                text-align: center;
                background: $Vary-Light-Gray;
                border-radius: 10px;
                padding: 10px 20px;
                min-width: 500px;
                margin-right: 20px;
                p{line-height: 24px;}
                
                .dp{
                    max-width:75px;
                    margin-inline: auto; 
                    position: relative;
                    top: -25px;
                }
            }
        }
        .reviews-btn{
            display: block;
            margin:  35px auto;
        }
    }
}
.simplify{
    background: url(../images/bg-simplify-section-desktop.svg)bottom right,$Bright-Red;
    padding: 30px $padding-L-R;
    display: flex;
    align-items: center;
    justify-content: space-between;
    h1{
        width: 40%;
        color: white;
        font-weight: 500;
        font-size: 2.5em;
    }
    .btn-simplify{
        background: white;
        color: $Bright-Red;
        box-shadow: 0px 5px 32px -11px  hsla(0, 0%, 0%, 0.616);
        &:hover{
            opacity: 1;
            color: hsla(12, 88%, 59%, 0.582);
        }
    }
}
footer{
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-gap: 20px;
    padding: 70px $padding-L-R;
    background: $Very-Dark-Blue;
    .info{
        grid-column: span 2;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .social-links{
            i{
                color: white;
                cursor: pointer;
                margin-right: 10px;
                transition: 150ms ease-in-out;
                &:hover{
                    color: $Bright-Red;
                }
            }
        }
    }
    .f-links{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column: 4 / 9;
        justify-content: space-between;
        column-gap: 90px;
        span{
            color: white;
            cursor: pointer;
            line-height: 40px;
            transition: 150ms ease-in-out;
            &:hover{
                color: $Bright-Red;
            }
        }
    }
    .last{
        grid-column: -4 / -1;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: end;
        .form{
            .btn{
                box-shadow: none;
            }
            input{
                outline: none;
                padding: 14px 30px;
                border-radius: 30px;
                border: 2px solid transparent;
                font-family: $font;
                transition: 150ms ease-in-out;
                ::placeholder{font-family: $font;}
                &:focus{
                    border-color: $Bright-Red;
                }
            }
        }
        span{
            color: $Dark-Grayish-Blue;
            font-size: .8em;
        }
    }
    
}